extends baseEmail 

block content 
                            
  h3 Dobrý den #{firstName},
  
  h2 Vaše objednávka #{orderNumber} byla odoslána.

  a(href='https://proud.pictusweb.site/login/profile') Vaše objednávka
  //a(href='http://localhost:3000/login/profile') Vaša objednávka
  //a(href='http://localhost:3000/order/' + orderId) Vaša objednávka
  br
  br
  h3 Děkujeme za Váš nákup!

  