extends baseEmail 

block content 
                            
  p Dobrý den #{firstName},
  p Děkujeme Vám za Vaši zprávu!
  p Váš e-mail: #{email}
  p Vaše zpráva: #{message}
  p Ozveme sa Vám co nejdříve.
