extends baseEmail 

block content 
                            
  p Ahoj admine, uživatel #{firstName} napsal novou recenzi na e-shopu.
  p Text recenzee: #{comment} 

   
  a(href='https://proud.pictusweb.com/admin/reviews') Na recenzi 
  
  
